<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <h1 class="title">PANDA STORE APP</h1>

    <p class="info">
      Aplicación para el manejo de pedidos de la tienda panda store
    </p>
    <p class="info">Desarrollado con Ionic + Angular</p>

    <div class="frameworks-icons">
      <img src="/assets/ionic.png" alt="" />
      <img src="/assets/angular.png" alt="" />
    </div>
    <p class="info">Powered by Otniel Acevedo</p>
    <p class="info">v{{version}}</p>
  </div>
</ion-content>
