<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="menu-header">
          <h1 class="menu-header__title">PANDA STORE</h1>
          <p class="menu-header__note">CEO Dorca Hernandez</p>
        </div>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let item of menus">
            <ion-item
              routerDirection="root"
              [routerLink]="[item.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon slot="start" [name]="item.icon"></ion-icon>
              <ion-label>{{ item.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [tab]="p.url" *ngFor="let p of tabs">
          <ion-icon [name]="p.icon"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-split-pane>
</ion-app>
