<ion-header>
  <ion-toolbar class="test">
    <ion-title>PEDIDOS</ion-title>
    <ion-button fill="fab" shape="round" slot="end" class="btn-add-order">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-label> POR FACTURAR </ion-label>
    </ion-item-divider>

    <ion-item
      [routerLink]="['/customer', item.id]"
      *ngFor="let item of orders; trackBy: trackByFunc"
      (press)="presentActionSheet(item)"
    >
      <ion-avatar slot="start">
        <img src="/assets/panda-circle.png" />
      </ion-avatar>

      <ion-label>
        <h2>{{item.name | uppercase}}</h2>
        <h3>Monto: {{ item.soldPrise | currency:'$' }}</h3>
        <h3>Abono: {{ item.abono | currency:'$' }}</h3>
        <h3>Resta: {{ item.soldPrise - item.abono | currency:'$' }}</h3>
        <h3>Fec. Pedido: {{ item.date | date:'dd/MM hh:mm a' }}</h3>
        <p>{{ item.model }} - {{ item.size }} - {{ item.observations }}</p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="!orders.length" lines="none">
      <ion-label><p>NO SE ENCONTRARON REGISTROS</p></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
